@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


:root {
    --primary-color: #040404;
    --secondary-color: #E40C14;
   
}

* {
    box-sizing: border-box;
    padding: 0;
    margin:0
}

body {
    font-family: 'Lato', sans-serif;
    /* color: #333; */
    line-height: 1.6;
    background-color:black;
    /* max-width: 100%; */
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    /* color: #333 */
}
a {
    text-decoration: none;    
}

 .logo {
     margin-left: 20px
     /* position: relative;  */
    /* // width:37%     */
 }
#logo  {
    width:150px;
    height: 60px;
    
    /* opacity: 0.7; */
}

 

.navbar {
    background-color: black;
    color: #fff;
    height: 40px;
    margin-right: 40px;
    /* position: relative; */
}
.navbar input {
    margin-right: 10px;
    /* padding: 8px; */
    padding-top: 0;
    padding-left: 40px;
    width: 250px;
    background-color: black;
    border: 1px solid white;
    /* text-align: center;  */
    height: 35px;
    margin-top: 0;
    color: white;
    opacity: .7;
   
}
.navbar input:focus {
    
    /* background-color: white; */
    color: white
   
}
.navbar ul {
    display: flex;
    margin-top:15px;
    /* opacity:  0.5 */
}
.navbar a  {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    opacity: 0.8;
}
.navbar a:hover {
  opacity: 2;
}

/* .navbar .flex {
justify-content: space-between;
} */
.grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
    /* grid-auto-rows: minmax(100px, auto); */
    grid-gap: 0.5em;
   
}
#avatar {

width:30px;
height: 30px;
}
#icon {
    position: absolute;
    padding: 10px; 
    z-index: 1;
    
            /* min-width: 40px;   */
}


/* main */
.main {
    display: grid;
    
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap:2em;
}
.main1, .main1, .main2 {
    
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    
    grid-column-gap: 2em;
    
    margin-left:40px;
    margin-right: 40px;
    /* margin-bottom: 35px; */
   
}



.box1, .box2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-gap: 0.5em;    
}

.box11 img, .box21 img,.box12 img ,.box22 img ,.box13 img, .box23 img  {
    background: lightblue;
    max-height: 100%;
    max-width: 100%;
    
}
.title
{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    margin-left: 10px
    
    
}
.title1, .title2{
     margin-top:100px;
     margin-left:30px;
     margin-bottom: 20px;
     color: white;
     opacity: 0.7;
     align-self: end;
 }
 .title2 {
     margin-left: 10px
 }